@font-face {
  font-family: 'Sofia Pro';
  src: url('../fonts/SofiaProRegular.ttf');
}
@font-face {
  font-family: 'Ogg';
  src: url('../fonts/OggRegular.ttf');
}
@font-face {
  font-family: 'Ogg Italic';
  src: url('../fonts/OggItalic.otf');
}

:global {
  .disable {
    display: none;
  }
}

* {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 16px;
}
