$min-tablet-width: 738px;
$max-tablet-width: 1300px;
$min-mobile-width: 280px;
$max-mobile-width: 737px;
$min-desktop-width: 1300px;
$max-desktop-width: 1600px;

@mixin responsive($type) {
  @if $type==desktop {
    @media only screen and (min-width: $min-desktop-width) and (max-width: $max-desktop-width) {
      @content;
    }
  }

  @if $type==tablet {
    @media only screen and (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
      @content;
    }
  }

  @if $type==mobile {
    @media only screen and (min-width: $min-mobile-width) and (max-width: $max-mobile-width) {
      @content;
    }
  }
}

@mixin text($family, $size: 16px, $color, $fontWeight: 400, $lineHeight: normal) {
  color: $color;
  font-size: $size;
  font-family: $family;
  font-weight: $fontWeight;
  line-height: $lineHeight;

  margin: 0;
}