$primary-color: black;
$derby: #f5e2c7;
$very-light-grey: #C8C8C8;
$blur-very-light-grey: rgba(200, 200, 200, 0.1);
$grey: #7F7F7F;
$dark-grey: #667380;
$white: white;
$white-smoke: #F3F3F3;
$blur-white: rgba(255, 255, 255, 0.5);
$black: black;
$transparent: transparent;
$red: red;
$raven: #667380;

