$primary-color: black;
$derby: #f5e2c7;
$very-light-grey: #C8C8C8;
$blur-very-light-grey: rgba(200, 200, 200, 0.1);
$white: white;
$black: black;
$transparent: transparent;
$red: red;
$dark-grey: #667380;