@import 'assets/scss/mixins.scss';
@import 'assets/scss/variables';

.catalouge {
  width: 100vw;
  max-width: 100%;
  margin-top: 130px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  @include responsive(mobile) {
    margin-top: 100px;
  }
  &__filter {
    flex: 1;
    & .filter__items {
      width: max-content;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
      }
    }
  }
  &__items {
    flex: 3;
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    @include responsive(tablet) {
      flex: 2;
      gap: 50px;
    }
  }
}