@use 'assets/scss/variables' as v;
@import 'assets/scss/mixins.scss';

.button {
  background-color: v.$primary-color;
  color: white;
  border: none;
  text-transform: uppercase;
  font-family: 'Sofia Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 128%;
  letter-spacing: 0.15em;
  padding: 25px 0;
  cursor: pointer;
  width: 100%;
  &:hover {
    opacity: 0.8;
  }
  @include responsive(tablet) {
    background-color: red;
    font-size: 0.9rem;
  }
  @include responsive(mobile) {
    background-color: green;
    padding: 20px 0px;
    font-size: 0.4rem;
  }
}