@import 'assets/scss/variables';
@import 'assets/scss/mixins.scss';

.button {
  background-color: $primary-color;
  color: $white;
  border: none;
  text-transform: uppercase;
  font-family: 'Sofia Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 128%;
  letter-spacing: 0.15em;
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0 10px 0;
  overflow: hidden;

  &.loginBtn {
    height: 50px;
  }

  &.border {
    box-sizing: border-box;
    border: 1px solid $black;
  }

  &.greyBorder {
    box-sizing: border-box;
    border: 1px solid $grey;
  }

  &.smallPad {
    padding: 10px 5px 5px 5px;
  }

  &.discount {
    box-sizing: border-box;
    padding: 20px 0;
  }

  &.blur {
    opacity: 0.4;

    &:hover {
      opacity: 0.4;
    }
  }

  &.whiteBg {
    background-color: $white;
    color: $black;
    height: 100%;
  }

  &:hover {
    opacity: 0.8;
  }

  @include responsive(tablet) {
    font-size: 0.9rem;
  }

  @include responsive(mobile) {
    padding: 15px 0px;
    font-size: 0.7rem;
  }
}