@import 'assets/scss/mixins.scss';
@import 'assets/scss/variables';

.policy {
  width: 100%;
  white-space: pre-line;
  font-family: 'Sofia Pro';
  font-style: normal;
  font-weight: 400;
  &-intro {
    padding-left: 25px;
    font-size: 14px;
    line-height: 150%;
    width: 90%;
    margin-bottom: 30px;
    @include responsive(mobile) {
      box-sizing: border-box;
      width: 90% !important;
    }
  }
  &-item {
    box-sizing: border-box;
    width: 80%;
    margin-left: 30px;
    font-size: 14px !important;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: $black;
  }
}