@import 'assets/scss/mixins.scss';
@import 'assets/scss/variables';

.faq {
  width: 100%;
  & p {
    margin-left: 30px;
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: $black;
  }
}