@import 'assets/scss/mixins.scss';
@import 'assets/scss/variables.scss';  

.season {
  box-sizing: border-box;
  position: relative;
  width: 100vw;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Sofia Pro';
  font-style: normal;
  font-weight: 400;
  &__bg {
    position: relative;
    width: 100vw;
    max-width: 100%;
    margin-top: 30px;
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    & > img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
    &-intro {
      background-color: $transparent;
      width: 23%;
      right: 18vw;
      color: $white;  
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 5px;
      @include responsive(tablet) {
        width: 50%;
        right: 8vw;
        bottom: 10vh;
      }
      @include responsive(mobile) {
        gap: 0;
        width: 100%;
        bottom: 2vh;
        right: 0;
        left: 0;
      }
      & > p:first-child {
        text-transform: uppercase;
        font-size: 16px;
        line-height: 128%;
        letter-spacing: 0.15em;
        @include responsive(tablet) {
          font-size: 14px;
        }
        @include responsive(mobile) {
          font-size: 12px;
        }
      }
      & > p:nth-child(2) {
        text-transform: uppercase;
        font-size: 50px;
        line-height: 120%;
        @include responsive(tablet) {
          font-size: 30px;
        }
        @include responsive(mobile) {
          font-size: 20px;
        }
      }
      & > p:nth-child(3) {
        text-align: center;
        font-size: 12px;
        line-height: 145%;
        letter-spacing: 0.05em;
        @include responsive(tablet) {
          font-size: 11px;
        }
        @include responsive(mobile) {
          display: none;
        }
      } 
      & > div {
        margin-top: 10px;
        width: 45%;
        @include responsive(mobile) {
          margin-top: 5px;
          width: 30%;
        }
      }
    }
  }
  &__inequalDoubleBg {
    width: 100%;
    display: flex;
    height: 960px;
    @include responsive(tablet) {
      height: 700px;
    }
    & > img {
      width: 65%;
      height: 100%;
    }
    &-info {
      position: relative;
      width: 35%;
      height: 100%;
      & > img {
        width: 100%;
        height: 100%;
      }
      & > div {
        background-color: $transparent;
        box-sizing: border-box;
        position: absolute;
        width: 55%;
        display: flex;
        flex-direction: column;
        bottom: 31%;
        left: 20%;
        @include responsive(tablet) {
          width: 80%;
          left: 10%;
          bottom: 20%;
        }
        & .discover-button {
          width: 50%;
        }
        & > p:first-child {
          color: $white;
          font-size: 50px;
          line-height: 120%;
          text-transform: uppercase;
          @include responsive(tablet) {
            font-size: 30px;
          }
        }
        & > p:nth-child(2) {
          color: $white;
          font-size: 12px;
          line-height: 145%;
          letter-spacing: 0.05em;
          margin-bottom: 30px;
          @include responsive(tablet) {
            font-size: 11px;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
  &__comeJoin {
    text-align: center;
    padding: 80px 0;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: $black;
  }
  &__social {
    display: flex;
    & > div {
      width: 20%;
      height: 320px;
      overflow: hidden;
      @include responsive(tablet) {
        height: auto;
      }
      & > img {
        width: 100%;
        height: 100%;
        object-fit: fit;
        transition: 0.3s all;
        transition-delay: 0.1s;
        cursor: pointer;
        &:hover {
          scale: 1.1;
        }
      }
    }
  }
  &__signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 115px 0;
    gap: 30px;
    @include responsive(tablet) {
      padding: 70px 0;
      gap: 25px;
    }
    & > p:first-child {
      font-size: 20px;
      line-height: 120%;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: $black;
      @include responsive(tablet) {
        font-size: 18px;
      }
    }
    & > p:nth-child(2) {
      font-size: 15px;
      line-height: 120%;
      letter-spacing: 0.05em;
      color: $black;
      @include responsive(tablet) {
        font-size: 13px;
      }
    }
    & > div {
      width: 15%;
      & .signup-label {
        font-size: 15px;
        line-height: 120%;
        text-align: center;
        text-transform: uppercase;
        color: $white;
      }
    }
  }
}