@import 'assets/scss/mixins.scss';
@import 'assets/scss/variables';

.container {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  & .login {
    width: 520px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    @include responsive(tablet) {
      width: 420px;
      height: auto;
    }
    @include responsive(mobile) {
      width: 90vw;
      height: auto;
    }
    &__button {
      align-self: center;
      width: 300px;
      margin-bottom: 20px;
      @include responsive(tablet) {
        width: 200px;
      }
      @include responsive(mobile) {
        width: 100%;
      }
    }
    & > label {
      text-align: center;
      text-transform: uppercase;
      font-family: 'Sofia Pro';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 140%;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: $black;
      margin-bottom: 40px;
      @include responsive(mobile) {
        margin-bottom: 20px;
      }
    }
  }
  & .forgot {
    position: relative;
    top: 20px;
    width: 520px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @include responsive(tablet) {
      width: 420px;
      height: auto;
      bottom: -40px;
    }
    @include responsive(mobile) {
      top: 0px;
      width: 90vw;
      height: auto;
    }
    & > a {
      font-family: 'Sofia Pro';
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 140%;
      letter-spacing: 0.05em;
      color: $black;
      @include responsive(tablet) {
        font-size: 13px;
      }
      @include responsive(mobile) {
        font-size: 10px;
      }
    }
    & :first-child {
      text-decoration: underline;
    }
    & :last-child {
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}