@import 'assets/scss/mixins.scss';
@import 'assets/scss/variables';

.container {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  & .login {
    width: 520px;
    height: 50vh;
    display: flex;
    flex-direction: column;
    gap: 15px;
    &__row {
      width: 100%;
      height: 80px;
      display: flex;
      flex-direction: column;
      & p {
        font-family: 'Sofia Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 140%;
        letter-spacing: 0.05em;
        color: #E44444;
      }
    }
    & label {
      font-family: 'Sofia Pro';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 140%;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: $black;
      margin-bottom: 30px;
    }
    &__button {
      width: 300px;
    } 
  }
  & .forgot {
    position: relative;
    bottom: 20px;
    width: 520px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    & > a {
      font-family: 'Sofia Pro';
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 140%;
      letter-spacing: 0.05em;
      color: $black;
    }
    & :first-child {
      text-decoration: underline;
    }
    & :last-child {
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}