@import 'assets/scss/variables';
@import 'assets/scss/mixins';

.checkout {
  white-space: pre-line;
  position: relative;
  display: flex;
  font-family: 'Sofia Pro';
  font-style: normal;
  font-weight: 400;
  width: 100vw;
  max-width: 100%;
  height: auto;
  & .form-label {
    font-size: 20px;
    line-height: 140%;
    display: flex;
    letter-spacing: 0.01em;
    color: $black;
  }
  &-info {
    box-sizing: border-box;
    flex: 1;
    padding: 45px 75px 0 90px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    &-title {
      text-decoration: none;
      color: $black;
      font-weight: 600;
      line-height: 120%;
      letter-spacing: 0.15em;
      text-transform: uppercase;
      font-size: 35px;
      margin-bottom: 40px;
    }
    & > p:nth-child(2) {
      margin-bottom: 20px;
      font-size: 12px;
      line-height: 300%;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: $black;
      & > span {
        color: $very-light-grey;
      }
    }
    & > form {
      margin-top: 30px;
      padding-bottom: 60px;
      border-bottom: 1px solid $very-light-grey;
      & .form-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 35px;
        & > p:last-child {
          font-size: 15px;
          & > a {
            text-decoration: none;
            color: $black;
            font-weight: bold;
          }
        }
      }
      & .form-check {
        position: relative;
        display: flex;
        align-items: center;
        gap: 10px;
        margin-top: 45px;
        margin-bottom: 100px;
        & > input[type="checkbox"] {
          position: relative;
          width: 25px;
          height: 25px;
          accent-color: black;
          bottom: 1px;
        } 
        & > label {
          font-size: 13px;
          line-height: 150%;
          color: $black;
        }
        &.second {
          margin-top: 20px;
          margin-bottom: 40px;
        }
      }
      & .form-info {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        gap: 15px 0;
        & > div {
          display: flex;
          gap: 0 15px;
        }
      }
      & .form-navigate {
        display: flex;
        align-items: center;
        justify-content: space-between;
        & > div:first-child {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          & > img {
            position: relative;
            width: 10px;
            height: auto;
            bottom: 3px;
            cursor: pointer;
          }
          & > p {
            font-size: 12px;
            line-height: 100%;
            letter-spacing: 0.15em;
            text-transform: uppercase;
            color: $black;
            cursor: pointer;
          }
        }
        & > div:last-child {
          width: 40%;
          & p {
            line-height: 150%;
            width: 150px;
          }
        }
      }
      & .form-bill-info {
        position: relative;
        padding: 28px 25px;
        border: 1px solid $very-light-grey;
        color: $grey;
        font-family: 'Sofia Pro';
        font-style: normal;
        font-weight: 400;
        margin-bottom: 50px;
        & > div {
          display: flex;
          & p {
            font-size: 15px;
            line-height: 140%;
            letter-spacing: 0.05em;
            color: #7F7F7F;
          }
          & > p {
            width: 20%;
          }
          & > div {
            width: 80%;
            display: flex;
            justify-content: space-between;
            & > p:last-child {
              color: $black;
              text-decoration: underline;
              cursor: pointer;
              &:hover {
                opacity: 0.6;
              }
            }
          }
        }
        & .form-line {
          margin: 10px 0 15px 0;
          border-bottom: 1px solid $very-light-grey;
        }
      }
      & .method {
        font-size: 20px;
        line-height: 140%;
        letter-spacing: 0.01em;
        margin-bottom: 45px;
        color: #000000;
      }
      & .form-tickbox {
        box-sizing: border-box;
        padding: 28px 25px;
        border: 1px solid $very-light-grey;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 15px;
        margin-bottom: 70px;
        & .form-line {
          margin: 10px 0 15px 0;
          border-bottom: 1px solid $very-light-grey;
        }
        & > div {
          display: flex;
          gap: 15px;
          cursor: pointer;
          & > div:first-child {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            border: 0.5px solid black;
            background-color: $white;
            cursor: pointer;
            &.active {
              background-color: $black;
            }
          }
          & > div:nth-child(2) {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            & > p {
              font-family: 'Sofia Pro';
              font-style: normal;
              font-weight: 400;
              font-size: 15px;
              line-height: 140%;
              letter-spacing: 0.05em;
              color: #000000;
            }
          }
        }
      }
    }
  }
  &-item {
    background-color: $dark-white-smoke;
    flex: 1;
    padding: 75px 0 0 50px;
    display: flex;
    flex-direction: column;
    &-images {
      width: 70%;
      border-bottom: 1px solid $very-light-grey;
    }
    &-discount {
      width: 70%;
      margin-top: 30px;
      display: flex;
      gap: 15px;
      padding-bottom: 20px;
      border-bottom: 1px solid $very-light-grey;
      & > div:first-child {
        flex: 3;
      }
      & > div:nth-child(2) {
        flex: 1;
        height: 100%;
      }
    }
    &-subtotal {
      width: 70%;
      margin-top: 60px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      padding-bottom: 40px;
      border-bottom: 1px solid $very-light-grey;
      & > div {
        display: flex;
        justify-content: space-between;
        & > p {
          font-family: 'Sofia Pro';
          font-style: normal;
          font-weight: 400;
          font-size: 15px;
          line-height: 140%;
          letter-spacing: 0.05em;
          color: $black;
        }
      }
      & > div:last-child > p:last-child {
        color: $grey;
      }
    }
    &-total {
      margin-top: 30px;
      width: 70%;
      display: flex;
      justify-content: space-between;
      & > p {
        font-size: 20px;
        line-height: 140%;
        letter-spacing: 0.01em;
        color: $black;
      }
    }
    &-contact {
      width: 70%;
      display: flex;
      flex-direction: column;
      margin-top: 80px;
      gap: 30px;
      & > div {
        width: 100%;
        display: flex;
        gap: 15px;
      }
      & > div:first-child {
        & > p {
          font-size: 13px;
          line-height: 150%;
          letter-spacing: 0.05em;
          color: #000000;
        }
        & > img {
          width: 15px;
          height: 15px;
        }
      }
      & > div:nth-child(2) {
        position: relative;
        gap: 25px;
        & > p {
          font-size: 13px;
          line-height: 150%;
          letter-spacing: 0.05em;
          color: #000000;
          text-align: center;
        }
        & > img {
          position: relative;
          top: 14px;
          width: 15px;
          height: 10px;
        }
      }
      & > div:nth-child(3) {
        position: relative;
        display: flex;
        & > img {
          position: relative;
          width: 15px;
          bottom: 1px;
        }
      }
    }
  }
}