@import 'assets/scss/variables';
@import 'assets/scss/mixins';
@import 'assets/scss/animations';

.header {
  z-index: 2;
  position: fixed;
  top: 30px;
  box-sizing: border-box;
  width: 100vw;
  height: 100px;
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s;
  @include responsive(tablet) {
    padding: 0 70px;
  }
  @include responsive(mobile) {
    height: 70px;
    padding: 0 5vw 0 5vw;
  }
  & .header-shop {
    font-family: 'Sofia Pro';
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0.15em;
    cursor: pointer;
    user-select: none;
    &:hover {
      color: $black;
    }
    @include responsive(mobile) {
      display: none;
    }
  }
  & a {
    text-decoration: none;
    font-family: 'Sofia Pro';
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0.15em;
    @include responsive(tablet) {
      font-size: 12px;
      letter-spacing: 0;
    }
    @include responsive(mobile) {
      font-size: 5px;
      letter-spacing: 0;
    }
    &:hover {
      color: $primary-color !important;
    }
  }
  &__nav {
    box-sizing: border-box;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    &-link {
      box-sizing: border-box;
      display: flex;
      align-items: center;
      gap: 68px;
      @include responsive(tablet) {
        gap: 40px;
      }
      & .triple-line {
        display: none;
        @include responsive(mobile) {
          position: relative;
          right: 7vw;
          display: flex;
          flex-direction: column;
          gap: 5px;
        }
        & .line {
          width: 30px;
          height: 2px;
        }
      }
      & > a {
        @include responsive(tablet) {
          text-align: center;
          font-size: 12px;
        }
        @include responsive(mobile) {
          display: none;
        }
      }
    }
  }
  &__logo {
    flex: 1;
    text-align: center;
    & .logo {
      font-size: 40px;
      @include responsive(tablet) {
        font-size: 28px;
      }
      @include responsive(mobile) {
        font-size: 20px;
      }
    }
  }
  &__icon {
    flex: 1;
    font-size: 30px;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
    @include responsive(tablet) {
      gap: 1vw;
    }
    @include responsive(mobile) {
      gap: 15px;
      margin-right: 10px;
    }
    & .search-img {
      position: relative;
      right: 8vw;
      @include responsive(mobile) {
        right: 0;
      }
    }
    & > img {
      cursor: pointer;
      width: 20px;
      height: auto;
      @include responsive(mobile) {
        width: 15px;
      }
    }
    & > a {
      position: relative;
      top: 2px;
      @include responsive(tablet) {
        margin-right: 5px;
      }
      @include responsive(mobile) {
        display: none;
      }
    }
  }
}

.disable {
  display: none;
}

.quick-shop-nav {
  box-sizing: border-box;
  top: 130px;
  position: fixed;
  background-color: $white;
  z-index: 3;
  width: 530px;
  box-shadow: 0px 20px 20px 0px rgb(0, 0, 0, 0.1);
  padding: 50px 120px 0 80px;
  display: none;
  transition: 0.5s all;
  animation: fade 0.4s;
  &.toggleShop {
    display: inline;
  }
  &.moveup {
    top: 100px;
  }
}

.move {
  box-shadow: 0 5px 5px -5px $grey;
  background-color: $white;
  & a, &.logo, .header-shop {
    color: $black;
  }
  & .line {
    background-color: $black;
  }
}

.stand {
  background-color: $transparent;
  & a, &.logo, .header-shop {
    color: $white;
  }
  & .line {
    background-color: $white;
  }
}

.login-header {
  position: fixed;
  top: 0px;
  background-color: $white;
  & a, &.logo, .header-shop {
    color: $black;
  }
  & .line {
    background-color: $black;
  }
}

.store-header {
  margin-top: 30px;
  position: fixed;
  top: 0px;
  background-color: $white;
  & a, &.logo, .header-shop {
    color: $black;
  }
  & .line {
    background-color: $black;
  }
}