.login {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 180px;
    margin-bottom: 30px;
    & label {
      text-align: center;
    }
  }
}
