@import 'assets/scss/variables';
@import 'assets/scss/mixins';
@import 'assets/scss/animations';

.my-cart {
  box-sizing: border-box;
  z-index: 3;
  position: fixed;
  width: 35vw;
  height: 100vh;
  background-color: $white;
  top: 0;
  right: -50vw;
  transition: 0.5s all;
  padding: 0px 60px;
  @include responsive(tablet) {
    width: 50vw;
    padding: 0 30px;
  }
  @include responsive(mobile) {
    width: 100vw;
    right: -100vw;
    padding: 0 15px;
  }
  &-title {
    display: flex;
    justify-content: space-between;
    & > p {
      font-family: 'Sofia Pro';
      font-style: normal;
      font-weight: 400;
      font-size: 50px;
      line-height: 120%;
      text-transform: capitalize;
      color: $black;
      margin-top: 80px;
      @include responsive(tablet) {
        font-size: 40px;
      }
      @include responsive(mobile) {
        font-size: 35px;
      }
    }
    & > div {
      position: relative;
      left: 30px;
      margin-top: 30px;
      width: 20px;
      height: 20px;
      @include responsive(tablet) {
        left: 10px;
      }
      @include responsive(mobile) {
        left: 0px;
      }
      & > img {
        width: 100%;
        height: 100%;
        cursor: pointer;
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
  &-item {
    height: 70vh;
    margin-top: 30px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    @include responsive(tablet) {
      margin-top: 20px;
    }
    @include responsive(mobile) {
      margin-top: 10px;
    }
    &::-webkit-scrollbar {
      display: none;
    }
  }
  &-button {
    margin-top: 30px;
    position: relative;
    bottom: 0px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    & > div {
      position: relative;
      width: 50%;
      &:first-child {
        right: 15px;
        background-color: $white;
        @include responsive(tablet) {
          right: 10px;
        }
        @include responsive(mobile) {
          right: 5px;
        }
      }
      &:last-child {
        left: 15px;
        @include responsive(tablet) {
          left: 10px;
        }
        @include responsive(mobile) {
          left: 5px;
        }
        & .button-info {
          color: $white;
          box-sizing: border-box;
        }
      }
    }
  }
  &.active {
    box-shadow: -5px 0 5px -5px $grey;
    transform: translateX(-50vw);
    @include responsive(mobile) {
      transform: translateX(-100vw);
    }
  }
}