@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-icon {
  overflow: hidden;
  width: 30px;
  & > img {
    padding: 0;
    width: 100%;
    animation: rotate 1.5s infinite;
  }
}