@import 'assets/scss/mixins';
@import 'assets/scss/variables';

.checkbox {
  width: 25px;
  height: 25px;
  accent-color: black;
  @include responsive(tablet) {
    width: 30px;
    height: 30px;
  }
  @include responsive(mobile) {
    width: 30px;
    height: 30px;
  }
}

.filter-checkbox {
  box-sizing: border-box;
  position: relative;
  display: none !important;
  background-color: $white;
  position: relative;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  & img {
    position: relative;
    left: 3.5px;
    bottom: 1px;
    width: 7px;
    height: 7px;
    @include responsive(tablet) {
      left: 4px;
    }
  }
  &.on {
    display: block !important;
    background-color: $black;
  }
}
