@import 'assets/scss/mixins';
@import 'assets/scss/variables';

.checkbox {
  width: 25px;
  height: 25px;
  accent-color: black;
  @include responsive(tablet) {
    width: 30px;
    height: 30px;
  }
  @include responsive(mobile) {
    width: 50px;
    height: 50px;
  }
}

.filter-checkbox {
  position: relative;
  display: none !important;
  background-color: $white;
  position: relative;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  @include responsive(tablet) {
    width: 10px;
    height: 10px;
  }
  & > img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
  &.on {
    display: block !important;
    background-color: $black;
  }
}
