@import 'assets/scss/variables';
@import 'assets/scss/mixins';

.search {
  position: fixed;
  z-index: 3;
  box-sizing: border-box;
  width: 100vw;
  height: 400px;
  top: -400px;
  background-color: $sub-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  transition: all 0.5s;
  &.active {
    transform: translateY(400px);
  }
  &__input {
    margin-top: 100px;
    align-self: center;
    width: 800px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    & input[type='text'] {
      width: 100%;
      background-color: transparent;
      outline: none;
      border: none;
      border-bottom: 1px solid $black;
      padding: 5px 20px;
      font-family: 'Sofia Pro';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: $black;
    }
    & .search-icon, & .x-icon {
      position: absolute;
      width: 15px;
      cursor: pointer;
    }
    & .search-icon {
      left: 0;
      bottom: 6px;
    }
    & .x-icon {
      right: -90px;
      bottom: 80px;
    }
  }
  &__quick-nav {
    align-self: center;
    & p {
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 250%;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-bottom: 20px;
    }
    & div {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 50px;
      & a {
        text-decoration: none;
        font-family: 'Sofia Pro';
        font-style: normal;
        font-weight: 500;
        font-size: 50px;
        line-height: 120%;
        text-transform: capitalize;
        color: $white;
        &:hover {
          color: $black;
        }
      }
    }
  }
}