@import 'assets/scss/mixins.scss';

.stack {
  display: flex;
  &.row {
    flex-direction: row;
  }
  &.col {
    flex-direction: column;
  }
  &.center {
    align-items: center;
    justify-content: center;
  }
  &.spacing {
    gap: 200px;
    @include responsive(tablet) {
      gap: 30px;
    }
  }
  &.disable {
    display: none;
  }
  & >p {
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 300%;
    color: black;
    margin-left: 30px;
  }
}
// for storybook only
.item {
  width: 5vw;
  padding: 5vw;
  color: white;
  font-size: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blue;
  @include responsive(tablet) {
    background-color: red;
    font-size: 25px;
  }
  @include responsive(mobile) {
    background-color: green;
    font-size: 20px;
  }
}