@import 'assets/scss/mixins.scss';

@keyframes slide-in {
  from{transform: translateX(-100%)}
  to{transform: translate(0)}
}

.slider {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
  @include responsive(mobile) {
    padding: 0 15px;
    gap: 15px;
  }
  &__arrow {
    cursor: pointer;
    width: 15px;
    @include responsive(mobile) {
      width: 15px;
    }
  }
  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    animation: slide-in 0.3s;
    & div {
      & img {
        width: 340px;
        height: 510px;
        margin-bottom: 20px;
        cursor: pointer;
        &:hover {
          opacity: 0.8;
        }
        @include responsive(tablet) {

        }
        @include responsive(mobile) {

        }
      }
      & .description {
        font-family: 'Sofia Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 140%;
        display: flex;
        letter-spacing: 0.12em;
        text-transform: uppercase;
      }
    }
  }
}