@import 'assets/scss/mixins.scss';

@keyframes leftslide {
  0% {
    transform: translateX(100px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes rightslide {
  0% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateY(0);
  }
}

.slider {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
  @include responsive(mobile) {
    padding: 0 15px;
    gap: 15px;
  }
  &__arrow {
    cursor: pointer;
    width: 15px;
    @include responsive(mobile) {
      width: 15px;
    }
  }
  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    &.slide-left {
      animation: 0.8s leftslide;
    }
    &.slide-right {
      animation: 0.8s rightslide;
    }
    & div {
      & .img-container {
        overflow: hidden;
        width: 340px;
        height: 510px;
        margin-bottom: 20px;
      }
      & img {
        width: 100%;
        height: 100%;
        transition: all 0.3s;
        cursor: pointer;
        &:hover {
          scale: 1.1;
        }
        @include responsive(tablet) {

        }
        @include responsive(mobile) {

        }
      }
      & .description {
        font-family: 'Sofia Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 140%;
        display: flex;
        letter-spacing: 0.12em;
        text-transform: uppercase;
      }
    }
  }
}
